<div class="container">
  <%= form_tag verify_user_path ,{:class => 'form-signin'} do %>
    <h2 class="form-signin-heading">Enter your code sent on your number:</h2>
    <%= label_tag 'Mobile number', 'mobile number', class:'sr-only' %>
    <%= text_field_tag :code, nil, class:'form-control' %>
    <%= submit_tag  :Confirm, class: 'btn btn-lg btn-primary btn-block'%>
  <% end %>
</div>


